* {
    background-color: lightslategray;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: midnightblue;
    border-color: goldenrod;
}

h1 {
    font-size: 36px;
    border-style: ridge;
    background-color: lightsalmon;
}
#mainHeading {
    text-align: center;
    font-size: 72px;
    font-family: 'Merienda', sans-serif;
}
nav {
    display: inline-block;
    width: 100%;
    background-color: rgb(29,29,29);
    border-style: ridge;
    color: azure;
    border-color: goldenrod;
}
/*#navSales {
    width: 100%;
    display: inline-block;
    background-color: lightslategrey;
    border-style: ridge;
    color: azure;
    border-color: goldenrod;
}*/
.navlist {
    list-style: none;
    background-color: rgb(29,29,29);
    display: inline;
}

div {
    background-color: lightsalmon;
    margin: 10px;
    width: 25%;
    padding: 1.5px;
    border-style: ridge;
}
#welcome {
    width: 600px;
    position: absolute;
    top: 350px;
}

#location {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 700px;
}
h3 {
    background-color: inherit;
    text-align: center;
    padding: 10px, 10px, 10px, 40px;
}
h4 {
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
}
ul {
    background-color: inherit; 
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0px, 0px, 40px, 40px;
}
li {
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0px, 0px, 40px, 40px;

}
h2 {
    background-color: inherit;
    text-align: center;
}
p {
    background-color: inherit;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: azure;
    font-style: normal;
}
img {
    width: 650px;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotate(270deg);
}
table {
    width: 100%;
    background-color: lightsalmon;
    font-size: 18px;
    text-align: left;
    table-layout: fixed;
}
th {
    background-color: lightsalmon;
    
}
tr {
    background-color: rgb(27, 24, 23);
    
}
td {
    background-color: lightsalmon;
}
#locTableHead {
    border-bottom: solid black;
}
aside {
    width: 20%;
    min-height: 100%;
    float: right;
    position: fixed;
    top: 390px;
    left: 450px;

}